tensorflow==2.6.0
Keras==2.6.0
h5py==3.1.0
lxml==4.8.0
mrcfile==1.1.2
scikit-learn==1.0.2
scikit-image==0.19.2
matplotlib==3.5.2
PyQt5==5.15.6
pyqtgraph==0.10.0 
openpyxl==3.0.3
scipy==1.5.4
numpy
pycm
